{% extends 'base.html' %}
{% load static %}
{% block content %}

{% comment %} {% for profile in profiles %}
<div class="card">
    <!-- add this single line below -->
    <a href="{% url 'detail.profile' profile.id %}">
    <div class="card-content">
        <span class="card-title">{{ profile.name }}</span>
        <p>{{ profile.description }}</p>
    </div>
    </a>
</div>
{% endfor %} {% endcomment %}

<div class="container-fluid text-center">
    <div class="col-12 bg-black p1 border border-info">
    <div class="col-10 bg-black text-center offset-1 p-2 mt-4 borderless">
        <h1 class="text-info">Greetings, Ascean!</h1>
        <a class="btn btn-info outline" href="{% url 'profiles_create' %}">New Ascean</a>
    </div>
    <div class="col-10 bg-black text-center offset-1 p-2 my-4 borderless">
        <p>
            <button class="btn btn-outline-info btn-lg mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Ascean va'Esai Competitors
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body bg-black">
        <table class="table table-hover bg-black table-bordered border-info">
            <thead>
                <tr>
                    {% for profile in profiles %}
                    <th class="text-info">Name</th>
                    <th class="text-info">Description</th>
                    <th class="text-info">Character(s)</th>
                    <th class="text-info">Edit?</th>
                    <th class="text-info">Remove!</th>
                    <th class="text-info">Delete?!</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-info">{{ profile.name }}</td>
                    <td class="text-info"><br>{{ profile.description }}</td>
                    <td class="text-info"><br>{{ profile.characters }}</td>
                    <td>
                        <a class="btn btn-info outline" href="{% url 'profiles_update' profile.id %}">Edit {{ profile.name }}</a>
                    </td>
                    <td>
                        <form action="" method="POST">
                            <a class="btn btn-info outline" href="">Remove {{ profile.name }}</a>
                        </form>
                    </td>
                    <td>
                        {% comment %} if (user?._id.equals(c.user)) {  {% endcomment %}
                        <br><a class="btn btn-info outline" href="{% url 'profiles_delete' profile.id %}">Delete {{ profile.name }}</a>
                        {% endfor %}
                    </td>
                </tr>

            </tbody>
        </table>
        </div>
        </div>
    </div>
    <div class="col-10 bg-black text-center offset-1 p-2 mt-4 borderless"><a class="btn btn-info outline" href="{% url 'profiles_create' %}">New Ascean</a></div>
    </div>
</div>

{% endblock %}
