{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ character.name }}</span>
        <p>Type: {{ shield.type }}</p>
        <p>Physical Defense: {{ character.attack_type }}</p>
        <p>Magic Defense: {{ character.damage_type }}</p>
        <p>Description: {{ character.physical_damage }}</p>
        <p>Description: {{ character.magical_damage }}</p>
        <p>Description: {{ character.critical_chance }}</p>
        <p>Description: {{ character.critical_damage }}</p>
        <p>Dodge: {{ character.dodge }}</p>
        <p>Roll Timer: {{ character.roll }}</p>
    </div>
</div>
<div class="card-action">
    <a href="{% url 'characters_update' character.id %}">Edit</a>
    <a href="{% url 'characters_delete' character.id %}">Delete</a>
</div>

{% endblock %}